<h1>{{title}}</h1>
<h3>Weather dashboard</h3>
<hr />



<div class="container">
  <div class="row">

    <div class="col-md-4">
      <filters (onDatePicked)="refreshWithFilters($event)"></filters>


      <line-chart [locationFilter]="filtersToUse" [dataSource]="viewData"></line-chart>
      
      <bar-chart [locationFilter]="filtersToUse" [dataSource]="viewData"></bar-chart>

    </div>


      <div class="col-sm-4 offset-sm-4">
        <weather-management></weather-management>
      </div>
    </div>
  </div>





