<form [formGroup]="weatherForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>

  <div class="form-group row">
    <label class="control-label col-md-12" for="Department">Start date</label>
      
      <div class="col-md-4">
        <input class="form-control" type="datetime-local" formControlName="startDate">
      </div>
      <span class="text-danger" *ngIf="startDate.invalid && formDir.submitted">
        Datetime is required
      </span>
  </div>


  <div class="form-group row">
    <label class="control-label col-md-12" for="Department">End date</label>
    <div class="col-md-4">
      <input class="form-control" type="datetime-local" formControlName="endDate">
    </div>
    <span class="text-danger" *ngIf="endDate.invalid && formDir.submitted">
      Datetime is required
    </span>
  </div>


  <div class="form-group">
    <button type="submit" class="btn btn-default">Save</button>
    <button class="btn" (click)="cancel()">Cancel</button>
  </div>
</form>
