<h1>{{title}}</h1>
<h3>Säätiedot</h3>
<hr />
<form [formGroup]="weatherForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>

      <div class="form-group row">
    <label class="control-label col-md-12" for="Department">Päivämäärä ja aika</label>
    <div class="col-md-4">
      <input class="form-control" type="datetime-local" formControlName="dateTime">
    </div>
    <span class="text-danger" *ngIf="dateTime.invalid && formDir.submitted">
      Päivämäärä ja aika vaaditaan
    </span>
  </div>

  <div class="form-group row">
    <label class=" control-label col-md-12">Lämpötila</label>
    <div class="col-md-4">
      <input class="form-control" type="number" formControlName="temperature">
    </div>
    <span class="text-danger" *ngIf="temperature.invalid && formDir.submitted">
      Lämpötila vaaditaan
    </span>
  </div>

    <div class="form-group row">
    <label class="control-label col-md-12" for="Department">Sademäärä</label>
    <div class="col-md-4">
      <input class="form-control" type="number" formControlName="rainFall">
    </div>
    <span class="text-danger" *ngIf="rainFall.invalid && formDir.submitted">
     Sademäärä vaaditaan
    </span>
  </div>


  <div class="form-group row">
    <label class="control-label col-md-12" for="Department">Tuulen nopeus</label>
    <div class="col-md-4">
      <input class="form-control" type="number" formControlName="windSpeed">
    </div>
    <span class="text-danger" *ngIf="windSpeed.invalid && formDir.submitted">
      Tuulen nopeus vaaditaan
    </span>
  </div>

  <div class="form-group row">
    <label class="control-label col-md-12" for="City">Paikkakunta</label>
    <div class="col-md-4">

      <!--<div class="col-md-4">
        <input class="form-control" type="text" formControlName="location">
      </div>
      <span class="text-danger" *ngIf="location.invalid && formDir.submitted">
        Department is required
      </span>-->

    <select formControlName="location">
      <option [ngValue]="null" disabled>Choose a location</option>
      <option *ngFor="let location of locationList" [ngValue]="location.name">
        {{ location.name }}
      </option>
    </select>

    </div>
    <span class="text-danger" *ngIf="location.invalid && formDir.submitted">
      Paikkakunta vaaditaan
    </span>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default">Tallenna</button>
    <button class="btn" (click)="cancel()">Peruuta</button>
  </div>
</form>
