<h3>All Weather Data</h3>


<p *ngIf="!weatherList"><em>Loading...</em></p>

<p>
  <a [routerLink]="['/add-weather']">Create New</a>
</p>



<table class='table' *ngIf="weatherList">
  <thead>
    <tr>
      <th>WeatherId</th>
      <th>Location</th>
      <th>Wind speed</th>
      <th>Rainfall</th>
      <th>Temperature</th>
      <th>Date/time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let weather of weatherList">
      <td>{{ weather.weatherId }}</td>
      <td>{{ weather.location }}</td>
      <td>{{ weather.windSpeed }}</td>
      <td>{{ weather.rainFall }}</td>
      <td>{{ weather.temperature }}</td>
      <td>{{ weather.dateTime | date: 'dd.MM.yyyy H.mm'}}</td>
      <td>
      <td>
        <a [routerLink]="['/weather/edit/', weather.weatherId]">Edit</a> |
        <a [routerLink]="" (click)="delete(weather.weatherId)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
