<h3>Kaikki säätiedot</h3>

<p *ngIf="!weatherList"><em>Ladataan tietoja...</em></p>

<p>
  <a [routerLink]="['/add-weather']">Lisää uusi säätieto</a>
</p>

<table class='table' *ngIf="weatherList">
  <thead>
    <tr>
      <th>Sää-id</th>
      <th>Paikkakunta</th>
      <th>Tuulen nopeus</th>
      <th>Sademäärä</th>
      <th>Lämpötila</th>
      <th>Päivämäärä/aika</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let weather of weatherList">
      <td>{{ weather.weatherId }}</td>
      <td>{{ weather.location }}</td>
      <td>{{ weather.windSpeed }}</td>
      <td>{{ weather.rainFall }}</td>
      <td>{{ weather.temperature }}</td>
      <td>{{ weather.dateTime | date: 'dd.MM.yyyy H.mm'}}</td>
      <td>
      <td>
        <a [routerLink]="['/weather/edit/', weather.weatherId]">Muokkaa</a> |
        <a [routerLink]="" (click)="delete(weather.weatherId)">Poista</a>
      </td>
    </tr>
  </tbody>
</table>
