<h3>Paikkakunnat</h3>

<p *ngIf="!locationList"><em>Ladataan tietoja...</em></p>

<form [formGroup]="locationForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>

  <div class="form-group row">
    <label class=" control-label col-md-12">Lisää uusi paikkakunta:</label>
    <div class="col-md-4">
      <input class="form-control" type="text" formControlName="name">
    </div>
    <span class="text-danger" *ngIf="name.invalid && formDir.submitted">
      Lisää paikkakunnan nimi
    </span>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default">Tallenna</button>
    <button class="btn" (click)="cancel()">Peruuta</button>
  </div>
</form>

<table class='table' *ngIf="locationList">
  <thead>
    <tr>
     <th>Id</th>
      <th>Paikkakunta</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let location of locationList">
      <td>{{ location.locationId }}</td>
      <td>{{ location.name }}</td>
      <td>
        <a [routerLink]="" (click)="delete(location.locationId)">Poista</a>
      </td>
    </tr>
  </tbody>
</table>
